.wrapper {
	margin-bottom: 40px;
}

.bottom {
	background-color: var(--color-gray-light);
	padding: 50px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.total {
	font-size: 40px;
	color: var(--color-green);
}

.total span {
	margin-left: 10px;
	font-weight: bold;
}

.box {
	text-align: center;
}

.img {
	width: 400px;
	margin-bottom: 40px;
}

.text {
	font-size: 40px;
	margin-bottom: 40px;
}