.TopBar {
	background-color: var(--color-green);
	color: var(--color-white);
	height: 50px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.select {
	cursor: pointer;
	position: relative;
}

.menu {
	width: 130px;
	position: absolute;
	background-color: var(--color-green);
	top: 34px;
	left: 0;
	z-index: 2;
}

.menu div {
	padding: 10px;
}