.ProductBlock {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.imgBox {
	height: 240px;
	width: 100%;
	margin-bottom: 15px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.category {
	font-size: 14px;
	color: var(--color-gray-light);
	margin-bottom: 10px;
}

.title {
	font-size: 20px;
	margin-bottom: 8px;
}

.box {
	margin-top: auto;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.price {
	color: var(--color-green);
	font-size: 18px;
	font-weight: bold;
	margin-right: 20px;
}

.oldPrice {
	font-size: 18px;
	text-decoration: line-through;
}

.rating {
	margin-left: auto;
}

.btn {
	display: flex;
	background-color: var(--color-green);
	border: transparent;
	border-radius: 6px;
	padding: 10px 20px;
	color: var(--color-white);
	cursor: pointer;
}

.btn:hover {
	color: var(--color-black);
}